@use "../../style/breakpoints" as breakpoints;

.loader {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;

  @include breakpoints.md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.lg {
    grid-template-columns: repeat(3, 1fr);
  }
}
