.skeleton-user-card {
  background-color: pink;
  width: 455px;
  height: 150px;
  padding: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
